<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#4D2D80">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <title>vltn.io</title>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/fluidable-min.css">
    <link rel="stylesheet" href="/css/et-line.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- stiky -->
    <!-- <div class="sticky">

    </div> -->
    <!-- stiky -->

    <!-- header -->
    <div class="header bg-1">
        <div class="container">
            <div class="col-group">
                <div class="col-5 col-offset-1">
                    <div class="logo pt-5 pb-2">
                        <img class="logo-contain" src="svg/logo.svg" alt="">
                    </div>
                    <div class="bajada-logo color-1">
                        Somos outsourcing de medios digitales.
                    </div>
                    <div class="color-1 titulo2">
                        Nos especializamos en la producción, gestión y administración de contenidos, e-commerce y
                        publicidad en soportes digitales para empresas, medios y corporaciones públicas.
                    </div>
                    <!-- <div class="col-group">
                        <div class="col-mb-12 col-12 col-dt-6 pt-1">
                            <div class="btn-link">Acceso Clientes</div>
                        </div>
                        <div class="col-6 pt-1">
                            <div class="btn-link">Acceso Clientes</div>
                        </div>
                    </div> -->
                    <!-- <div class="bajada-logo color-1">
                            Somos especializados na produção, gestão e gerenciamento de conteúdn digital.
                    </div> -->
                </div>
                <div class="col-5">
                    <div class="rocket pt-3 pb-3">
                        <img src="svg/rocket.svg" class="contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin header -->
    <!-- Nosotros -->
    <div class="nosotros bg-2">
        <div class="container">
            <div class="col-group">
                <div class="col-5 col-offset-1">
                    <div class="news pt-3 pb-3">
                        <img src="svg/news.svg" class="contain">
                    </div>
                </div>
                <div class="col-4">
                    <div class="texto-general color-1 pt-5 pb-4">
                        <span class="titulo">Nuestra Experiencia</span><br>
                        Tenemos más de 10 años de experiencia en medios de comunicación y agencias de publicidad,
                        conformando y desarrollando equipos multidisciplinarios afines a la gestión y creación de
                        productos digitales,
                        abarcando la concepción,
                        implementación, mantención y mejora constante a partir del análisis de la métrica digital.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Nosotros -->

    <!-- Cositas 1 -->
    <div class="cositas bg-1 mh-40">
        <div class="container">
            <div class="col-group pb-3">

                <div class="col-12">
                    <div class="titulo ac color-1 pt-3">
                        Contenidos Digitales
                    </div>
                </div>
                <div class="col-6 col-offset-3 titulo2 color-1 ac pb-2">
                    Creamos un plan de contenidos que guíe el mensaje y/o la intención de compra, en el momento adecuado
                    por el canal más efectivo.
                </div>
                <div class="col-10 col-offset-1">
                    <div class="col-group">
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-newspaper fs-xxl color-2"></i>
                                <hr class="separator">
                                Creación de Contenidos Digitales
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Creamos contenidos para blogs temáticos y noticiosos, insertos, notas de prensa y
                                    native ads, siempre buscando el modo mas efectivo de comunicar y expresar al público
                                    la personalidad de la marca, ayudando a conformar autoridad y posición en la
                                    industria a la que pertenece.
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-megaphone fs-xxl color-2"></i>
                                <hr class="separator">
                                Administración y Seguimiento de Redes Sociales
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Buscamos leads y su fidelización, auditamos las redes y definimos al buyer persona,
                                    lo entegramos en el ciclo de compra mediante contenidos clave en los tiempos y por
                                    los medios precisos, para que finalmente sea llevado a la decisión de adquisición
                                    del producto o servicio.
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-basket fs-xxl color-2"></i>
                                <hr class="separator">
                                <!-- Desarrollo y Mantnción de Podcast -->
                                Implementación y Administración de e-Commerce
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    <!-- El podcast es la radio de la actualidad, una herramienta precisa para marcar postura, dar a conocer temas de interés para el usuario, responder dudas y proyectar ideas, personalidad de marca y liderazgo. -->
                                    Mantenemos y damos vida a su e-Commerce, manejamos y administramos sus productos y
                                    catálogos electrónicos, creamos páginas, promociones y landing pages, nos
                                    preocupamos de la corrcta medición de cómo las campañas impactan en las ventas y de
                                    mantener a los usuaros en el flujo de compra.
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-envelope fs-xxl color-2"></i>
                                <hr class="separator">
                                Diseño y Desarrollo de Mailing y Newsletter
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Mailing y Newsletter se presentan como una excelente oportunidad para crear una
                                    relación de confianza y fidelización, siendo una comunicación directa con el usuario
                                    segmentado, ofraciendo productos, ideas y contenidos.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- fin Cositas 1 -->
    <!-- Cositas 2 -->
    <div class="cositas bg-2 mh-40">
        <div class="container">
            <div class="col-group pb-3">

                <div class="col-12">
                    <div class="titulo ac color-1 pt-3">
                        Publicidad Digital
                    </div>
                </div>
                <div class="col-6 col-offset-3 titulo2 color-1 ac pb-2">
                    Nos hacemos cago de la línea completa de administración y creación de espacios publicitarios para
                    medios y agencias.
                </div>
                <div class="col-10 col-offset-1">
                    <div class="col-group">
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-browser fs-xxl color-2"></i>
                                <hr class="separator">
                                Creación y Adaptación de Banners
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Creamos y adaptamos originalels publicitarios a banners de internet en conformidad
                                    con los estándares actuales para Desktop y Moblie.<br>
                                    Entre los formatos desarrollamos:<br>
                                    <span class="listado">Banners con Video.</span>
                                    <span class="listado">Expandibles.</span>
                                    <span class="listado">Flotantes e ITT.</span>
                                    <span class="listado">Interactivos.</span>
                                    <span class="listado">Cubos 3D.</span>
                                    <!-- <ul class="lista">
                                        <li>Banners con Video.</li>
                                        <li>Expandibles.</li>
                                        <li>Flotantes e ITT.</li>
                                        <li>Interactivos.</li>
                                        <li>Cubos 3D.</li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-scope fs-xxl color-2"></i>
                                <hr class="separator">
                                Captación de Leads desde Banners Formulario
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Hemos desarrollado un producto específicamente para captar leads mediante
                                    formularios web que ocupan espacios publicitarios tradicionales, los datos pueden ir
                                    directamente a su lead managment system o a nuestro sistema de captación.
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-adjustments fs-xxl color-2"></i>
                                <hr class="separator">
                                Administración de Espacios Publicitarios y Campañas
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Hacemos Ad Trafficking para sitios y redes de sitios, tagging y migración de
                                    AdServers, reportería, análisis y optimización de espacios publicitarios en
                                    estructuras de sitos e implementación de píxels de seguimiento en estructuras de
                                    e-commerce.
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-12 col-6 col-dt-3">
                            <div class="titulo2 color-1 ac">
                                <i class="icon-circle-compass fs-xxl color-2"></i>
                                <hr class="separator">
                                Desarrollo de Espacios y Piezas a Medida
                                <hr class="separator color-2">
                                <div class="al fw-400">
                                    Desarrollamos espacios publicitarios a medida para medios, con el objetivo de
                                    potenciar las ventas de publicidad por medio de espacios y piezas atractivas para el
                                    público y las marcas.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- fin Cositas 2 -->
    <!-- confiaron en nosotros -->
    <div class="confiaron bg-1">
        <div class="container">
            <div class="col-group">

                <div class="col-12">
                    <div class="titulo ac color-1 pt-3">
                        Confían en nosotros
                    </div>
                </div>
                <div class="col-6 col-offset-3 titulo2 color-1 ac pb-2">
                    Clientes que confían en nuestros servicios:
                </div>

                <div class="col-6 col-offset-3 pb-3">
                    <div class="col-group">
                        <div class="col-4">
                            <img src="/img/logos/isis.svg" width="98%">
                        </div>
                        <div class="col-4">
                            <img src="/img/logos/yapo.svg" width="98%">
                        </div>
                        <div class="col-4">
                            <img src="/img/logos/dks.svg" width="98%">
                        </div>
                    </div>
                </div>

                <!-- <hr class="separator color-2"> -->
                <!-- <div class="col-10 col-offset-1 titulo2 color-1 ac pb-2">
                    Marcas que se han beneficiado de nuestros productos por medio de nuestros clientes:
                </div> -->

            </div>
        </div>
    </div>
    <!-- fin confiaron en nosotros -->
    <!-- Contácto -->
    <div class="confiaron bg-2">
        <div class="container">
            <div class="col-group">

                <div class="col-12">
                    <div class="titulo ac color-1 pt-3">
                        Marcas
                    </div>
                </div>
                <div class="col-10 col-offset-1 titulo2 color-1 ac pb-2">
                    Marcas que se han beneficiado de nuestros servicios a travez de nuestros clientes:
                </div>
                <div class="col-10 col-offset-1 pb-4">
                    <ul class="marcas">
                        <li><img src="/logos/alkosto.png"></li>
                        <li><img src="/logos/ballerina.png"></li>
                        <li><img src="/logos/bancow.png"></li>
                        <li><img src="/logos/bfg.png"></li>
                        <li><img src="/logos/bl.png"></li>
                        <li><img src="/logos/citroen.png"></li>
                        <li><img src="/logos/claro.png"></li>
                        <li><img src="/logos/colloky.png"></li>
                        <li><img src="/logos/consorcio.png"></li>
                        <li><img src="/logos/eurocapital.png"></li>
                        <li><img src="/logos/falabella.png"></li>
                        <li><img src="/logos/gasco.png"></li>
                        <li><img src="/logos/huawei.png"></li>
                        <li><img src="/logos/hyundai.png"></li>
                        <li><img src="/logos/jpg.png"></li>
                        <li><img src="/logos/lacostena.png"></li>
                        <li><img src="/logos/maestra.png"></li>
                        <li><img src="/logos/michelin.png"></li>
                        <li><img src="/logos/mobil.png"></li>
                        <li><img src="/logos/moto.png"></li>
                        <li><img src="/logos/nc.png"></li>
                        <li><img src="/logos/nike.png"></li>
                        <li><img src="/logos/nova.png"></li>
                        <li><img src="/logos/opel.png"></li>
                        <li><img src="/logos/pacifico.png"></li>
                        <li><img src="/logos/peugeot.png"></li>
                        <li><img src="/logos/philips.png"></li>
                        <li><img src="/logos/reebok.png"></li>
                        <li><img src="/logos/ripley.png"></li>
                        <li><img src="/logos/saba.png"></li>
                        <li><img src="/logos/sb.png"></li>
                        <li><img src="/logos/skoda.png"></li>
                        <li><img src="/logos/tanner.png"></li>
                        <li><img src="/logos/trattoria.png"></li>
                        <li><img src="/logos/visa.png"></li>
                        <li><img src="/logos/vital.png"></li>
                        <li><img src="/logos/vivaqui.png"></li>
                        <li><img src="/logos/wong.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Contácto -->

    <!-- footer -->
    <div class="footer bg-3">
        <div class="container">
            <div class="col-group">
                <div class="col-mb-12 col-6 col-dt-3 pt-3 pb-3 color-3">
                    <p>
                        Operaciones Digitales y Publicitarias Iberoamericanas VLTN SpA.
                    </p>
                    <p>
                        2017 - 2019.
                    </p>
                </div>
                <div class="col-mb-12 col-6 col-dt-3 pt-3 pb-3 color-3">
                    <p>
                        Contacto: <a href="mailto: info@vltn.io">info@vltn.io</a>
                    </p>
                    <p>
                        Teléfono: <a href="tel: +56998498257">+56 9 9849 8257</a>
                    </p>
                    <p>
                        Nueva Providencia 1881, oficina 201, Providencia, Santiago, Chile.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- fin footer -->

    <script>
//         $(window).scroll(function(){                       
//     if ($(this).scrollTop() > 100) { 
//            $('.sticky').stop().animate({height: '50px'}, 300);
//     } else if($(this).scrollTop() < 100) {
//            $('.sticky').stop().animate({height: '0px'}, 300);
//     }
// });
    </script>
</body>

</html>